@media (min-width: 768px) {
  .contenedor {
    background-color: rgb(173, 217, 236);
    width: 600px;
    height: 350px;
    border: 1px solid black;
  }
  @font-face {
    font-family: "mifuente";

    src: url("Cruch\ Branch\ Outline.ttf");
  }

  .hr1 {
    color: red;
  }

  .titulo {
    font-size: 30px;
    color: rgb(16, 100, 160);
    font-family: "mifuente";
  }

  #btn {
    background-color: rgb(16, 100, 160, 0.402);
    font-size: 12px;
    padding: 5px 6px;
    color: aliceblue;
    border: none;
    width: 150px;
    cursor: pointer;
  }

  #datoInput {
    width: 300px;
    caret-color: rgb(255, 0, 217);
  }

  #lista-textos {
    width: 600px;
    height: 250px;
    border-color: black;
    border: 1px solid #ccc;
  }

  table {
    border-collapse: collapse;
  }

  input[type="text"] {
    padding: 4px;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    width: 600px;
    height: 7px;
  }
  #marcar {
    background-color: bisque;
    border-radius: 80px;
    float: right;
    width: 60px;
    height: 60px;
    margin-right: 35px;
    margin-top: 10px;
  }

  .valerylinda {
    background-color: rgba(255, 255, 255, 0.087);
    float: right;
    height: 50px;
    margin-right: 650px;
    height: 85px;
    width: 200px;
    text-align: center;
  }

  .soy {
    float: left;
    background-color: rgba(251, 255, 255, 0);
    color: rgb(16, 100, 160);
    font-family: "mifuentepeq2";
  }

  #mensaje1 {
    position: absolute;
    bottom: 30%;
    margin-left: 14%;
    height: 100px;
    width: 200px;
    background-color: rgba(173, 217, 236, 0);
  }

  #mensaje-tareas {
    color: rgb(53, 67, 50);
    font-size: 20px;
  }

  .todo {
    background-color: rgba(255, 255, 255, 0);
    width: 600px;
    height: 550px;
    margin-left: 300px;
    margin-top: 30px;
  }

  .cabecera {
    background-color: rgba(32, 27, 132, 0);
    height: 50px;
  }
  .textitoquevaalprincipiodelprogramaquedicetareasporhacer {
    background-color: rgba(148, 35, 65, 0);
    height: 60px;
  }

  .primeraparte {
    height: 120px;
    background-color: rgba(0, 0, 0, 0);
  }

  .Guardareltexto {
    float: left;
    background-color: rgba(194, 32, 32, 0);
    width: 440px;
    height: 140px;
  }
  .Contadorcillo {
    float: right;
    background-color: rgba(255, 254, 255, 0);
    width: 160px;
    height: 140px;
  }
  .partedeabajo {
    background-color: rgba(52, 132, 27, 0);
    height: 100%;
    width: 100%;
  }

  #contador {
    background-color: rgba(32, 27, 132, 0.201);
    border-radius: 50px;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-color: 2px black;
    text-align: center;
    font-size: 40px;
    color: rgb(16, 100, 160);
    font-family: "mifuentepeq2";
  }

  #imgc {
    margin-top: 6px;
    margin-left: 6px;
    width: 150px;
    display: none;
  }

  #botonEli {
    border-radius: 70px;
    cursor: pointer;
  }
  body {
    background-image: url("https://displays.riotgames.com/static/content-original-runeterra-ionia-3af5494dd645cb673dc4cedc2d3458b1.jpg");
    width: 1000px;
    height: 1000px;
  }

  .fizz {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 12%;
    display: none;
  }
  .kayn {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 12%;
  }
  td {
    border-color: aliceblue;

    color: aliceblue;
  }
  @font-face {
    font-family: "mifuentepeq2";

    src: url("Milky\ Mania.otf");
  }
  #mensaje-tareas {
    color: rgb(0, 105, 180);
    font-family: "mifuentepeq2";
  }
}

@media (max-width: 1024px) {
  @font-face {
    font-family: "mifuentepeq2";

    src: url("Milky\ Mania.otf");
  }
  .contenedor {
    background-color: rgba(173, 217, 236, 0);
    width: 600px;
    height: 350px;
    border: 1px solid black;
  }
  @font-face {
    font-family: "mifuentepeq";

    src: url("Starshines.ttf");
  }
  .hr1 {
    font-family: "mifuente";
    color: red;
  }

  .titulo {
    font-family: "mifuentepeq";
    font-size: 30px;
    color: rgb(138, 42, 198);
  }

  #btn {
    background-color: rgb(16, 100, 160, 0.402);
    font-size: 12px;
    padding: 5px 6px;
    color: aliceblue;
    border: none;
    width: 150px;
    cursor: pointer;
  }

  #datoInput {
    width: 300px;
    caret-color: rgb(255, 0, 217);
  }

  #lista-textos {
    width: 600px;
    height: 250px;
    border-color: black;
    border: 1px solid #ccc;
  }

  table {
    border-collapse: collapse;
  }

  input[type="text"] {
    padding: 4px;
  }

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.886);
    padding: 8px;
    width: 600px;
    height: 7px;
  }
  #marcar {
    background-color: bisque;
    border-radius: 80px;
    float: right;
    width: 60px;
    height: 60px;
    margin-right: 35px;
    margin-top: 10px;
  }

  .valerylinda {
    background-color: rgba(255, 255, 255, 0);
    float: right;
    height: 50px;
    margin-right: 650px;
    height: 85px;
    width: 200px;
    text-align: center;
  }

  .soy {
    float: left;
    background-color: rgba(251, 255, 255, 0);
    color: rgb(16, 100, 160);
    font-family: "mifuentepeq2";
  }

  #mensaje1 {
    position: absolute;
    bottom: 30%;
    margin-left: 14%;
    height: 100px;
    width: 200px;
    background-color: rgba(173, 217, 236, 0);
  }

  #mensaje-tareas {
    color: rgb(53, 67, 50);
    font-size: 20px;
  }

  .todo {
    background-color: rgba(171, 42, 42, 0) 5;
    width: 470px;
    height: 550px;
    margin-top: 30px;
  }

  .cabecera {
    background-color: rgba(32, 27, 132, 0);
    height: 50px;
  }
  .textitoquevaalprincipiodelprogramaquedicetareasporhacer {
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
  }

  .primeraparte {
    height: 120px;
    background-color: rgba(0, 0, 0, 0);
  }

  .Guardareltexto {
    float: left;
    background-color: rgba(255, 255, 255, 0.091);
    width: 310px;
    height: 120px;
  }
  .Contadorcillo {
    float: right;
    background-color: rgba(255, 254, 255, 0);
    width: 160px;
    height: 120px;
  }
  .partedeabajo {
    background-color: rgba(52, 132, 27, 0.011);
    height: 100%;
    width: 100%;
  }

  #contador {
    background-color: rgba(32, 27, 132, 0);
    border-radius: 50px;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-color: 2px black;
    text-align: center;
    font-size: 40px;
    color: rgb(16, 100, 160);
    font-family: "mifuentepeq2";
  }

  #imgc {
    margin-top: -45px;
    margin-left: 6px;
    width: 140px;
    display: none;
  }

  #botonEli {
    border-radius: 70px;
    cursor: pointer;
  }
  body {
    background-image: url("https://w.forfun.com/fetch/43/43d44ece8d5897f6a817445a82d3c3e1.jpeg");
    width: 1000px;
    height: 1000px;
  }
  .kayn {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    display: none;
  }
  #mensaje-tareas {
    color: rgb(16, 100, 160);
    font-family: "mifuentepeq2";
  }
}

.fizz {
  width: 80px;
  height: 100px;
  position: absolute;
  top: 15%;
}
